<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.eight.dao.BaziDao">

	<select id="get" resultType="com.bootdo.eight.domain.BaziDO">
		select `baziId`,`userId`,`baziName`,`male`,`solarDateTime`,`lunarDateTime`,`baziData`,`remark`,`baziConfig`,`createTime`,`updateTime` from bazi where baziId = #{value}
	</select>

	<select id="list" resultType="com.bootdo.eight.domain.BaziDO">
		select `baziId`,`userId`,`baziName`,`male`,`solarDateTime`,`lunarDateTime`,`baziData`,`remark`,`baziConfig`,`createTime`,`updateTime` from bazi
		<where>
			<if test="baziid != null and baziid != ''"> and baziId = #{baziid} </if>
			<if test="userid != null and userid != ''"> and userId = #{userid} </if>
			<if test="baziname != null and baziname != ''"> and baziName like concat('%', #{baziname} ,'%')</if>
			<if test="male != null and male != ''"> and male = #{male} </if>
			<if test="solardatetime != null and solardatetime != ''"> and solarDateTime = #{solardatetime} </if>
			<if test="lunardatetime != null and lunardatetime != ''"> and lunarDateTime = #{lunardatetime} </if>
			<if test="bazidata != null and bazidata != ''"> and baziData = #{bazidata} </if>
			<if test="remark != null and remark != ''"> and remark = #{remark} </if>
			<if test="baziconfig != null and baziconfig != ''"> and baziConfig = #{baziconfig} </if>
			<if test="createtime != null and createtime != ''"> and createTime = #{createtime} </if>
			<if test="updatetime != null and updatetime != ''"> and updateTime = #{updatetime} </if>
		</where>
		<choose>
			<when test="sort != null and sort.trim() != ''">
				order by ${sort} ${order}
			</when>
			<otherwise>
				order by baziId desc
			</otherwise>
		</choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	<select id="BaziExcelVoList" resultType="com.bootdo.common.utils.excel.BaziExcelVo">
		select `baziId`,`userId`,`baziName`,`male`,DATE_FORMAT(`solarDateTime`,'%Y-%m-%d %H:%i:%S') solarDateTime ,`lunarDateTime`,`baziData`,`remark`,`baziConfig`,`createTime`,`updateTime` from bazi
		<where>
			<if test="baziid != null and baziid != ''"> and baziId = #{baziid} </if>
			<if test="userid != null and userid != ''"> and userId = #{userid} </if>
			<if test="baziname != null and baziname != ''"> and baziName like concat('%', #{baziname} ,'%')</if>
			<if test="male != null and male != ''"> and male = #{male} </if>
			<if test="solardatetime != null and solardatetime != ''"> and solarDateTime = #{solardatetime} </if>
			<if test="lunardatetime != null and lunardatetime != ''"> and lunarDateTime = #{lunardatetime} </if>
			<if test="bazidata != null and bazidata != ''"> and baziData = #{bazidata} </if>
			<if test="remark != null and remark != ''"> and remark = #{remark} </if>
			<if test="baziconfig != null and baziconfig != ''"> and baziConfig = #{baziconfig} </if>
			<if test="createtime != null and createtime != ''"> and createTime = #{createtime} </if>
			<if test="updatetime != null and updatetime != ''"> and updateTime = #{updatetime} </if>
		</where>
		<choose>
			<when test="sort != null and sort.trim() != ''">
				order by ${sort} ${order}
			</when>
			<otherwise>
				order by baziId desc
			</otherwise>
		</choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>

	<select id="count" resultType="int">
		select count(*) from bazi
		<where>
			<if test="baziid != null and baziid != ''"> and baziId = #{baziid} </if>
			<if test="userid != null and userid != ''"> and userId = #{userid} </if>
			<if test="baziname != null and baziname != ''"> and baziName = #{baziname} </if>
			<if test="male != null and male != ''"> and male = #{male} </if>
			<if test="solardatetime != null and solardatetime != ''"> and solarDateTime = #{solardatetime} </if>
			<if test="lunardatetime != null and lunardatetime != ''"> and lunarDateTime = #{lunardatetime} </if>
			<if test="bazidata != null and bazidata != ''"> and baziData = #{bazidata} </if>
			<if test="remark != null and remark != ''"> and remark = #{remark} </if>
			<if test="baziconfig != null and baziconfig != ''"> and baziConfig = #{baziconfig} </if>
			<if test="createtime != null and createtime != ''"> and createTime = #{createtime} </if>
			<if test="updatetime != null and updatetime != ''"> and updateTime = #{updatetime} </if>
		</where>
	</select>

	<insert id="save" parameterType="com.bootdo.eight.domain.BaziDO">
		insert into bazi
		(
			`baziId`,
			`userId`,
			`baziName`,
			`male`,
			`solarDateTime`,
			`lunarDateTime`,
			`baziData`,
			`remark`,
			`baziConfig`,
			`createTime`,
			`updateTime`
		)
		values
		(
			#{baziid},
			#{userid},
			#{baziname},
			#{male},
			#{solardatetime},
			#{lunardatetime},
			#{bazidata},
			#{remark},
			#{baziconfig},
			#{createtime},
			#{updatetime}
		)
	</insert>

	<update id="update" parameterType="com.bootdo.eight.domain.BaziDO">
		update bazi
		<set>
			<if test="userid != null">`userId` = #{userid}, </if>
			<if test="baziname != null">`baziName` = #{baziname}, </if>
			<if test="male != null">`male` = #{male}, </if>
			<if test="solardatetime != null">`solarDateTime` = #{solardatetime}, </if>
			<if test="lunardatetime != null">`lunarDateTime` = #{lunardatetime}, </if>
			<if test="bazidata != null">`baziData` = #{bazidata}, </if>
			<if test="remark != null">`remark` = #{remark}, </if>
			<if test="baziconfig != null">`baziConfig` = #{baziconfig}, </if>
			<if test="createtime != null">`createTime` = #{createtime}, </if>
			<if test="updatetime != null">`updateTime` = #{updatetime}</if>
		</set>
		where baziId = #{baziid}
	</update>

	<delete id="remove">
		delete from bazi where baziId = #{value}
	</delete>

	<delete id="batchRemove">
		delete from bazi where baziId in
		<foreach item="baziid" collection="array" open="(" separator="," close=")">
			#{baziid}
		</foreach>
	</delete>

</mapper>